.login-container {
  height: 100vh;
  background-image: url('https://oqnisprjqxdarqewgqqu.supabase.co/storage/v1/object/public/imagenes//fondo.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1rem;
}

.login-card {
  background: white;
  padding: 2.5rem 2rem;
  border-radius: 1rem;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.15);
  color: #333;
}

.error {
  color: #d9534f;
  font-size: 0.85rem;
  margin-top: 0.25rem;
}

.error-general {
  color: #d9534f;
  font-weight: 600;
  text-align: center;
}

.fab-container {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 1100;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.fab-main {
  background-color: #563d7c;
  border: none;
  color: white;
  font-size: 2.8rem;
  width: 100px;       
  height: 100px;       
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(86,61,124,0.5);
  transition: transform 0.3s ease;
  gap: 20px;
}

.fab-container.open .fab-main {
  transform: rotate(45deg);
  gap: 20px;
}

.fab-option {
  background: white;
  border-radius: 50%;
  border: none;
  width: 100px;         
  height: 100px;   
  padding: 0;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  transition: transform 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.fab-option img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.fab-option:hover {
  transform: scale(1.15);
}