.login-container {
  height: 100vh;
  background-image: url('https://oqnisprjqxdarqewgqqu.supabase.co/storage/v1/object/public/imagenes//fondo.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1rem;
}

.login-card {
  background: white;
  padding: 2.5rem 2rem;
  border-radius: 1rem;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.15);
  color: #333;
}

.error {
  color: #d9534f;
  font-size: 0.85rem;
  margin-top: 0.25rem;
}

.error-general {
  color: #d9534f;
  font-weight: 600;
  text-align: center;
}

.fab-container {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 1100;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fab-main {
  background-color: #563d7c;
  border: none;
  color: white;
  font-size: 2.8rem;
  width: 90px;
  height: 90px;
  border-radius: 1.2rem; /* Bordes suaves, no redondos */
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(86, 61, 124, 0.5);
  transition: transform 0.4s ease, background-color 0.3s ease;
}

.fab-container.open .fab-main {
  transform: rotate(360deg);
  background-color: #452c6a;
}

.fab-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: aparecer 0.1s ease forwards;
}

@keyframes aparecer {
  from {
    opacity: 0;
    transform: translateY(20px) scale(0.9);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.fab-option {
  background: white;
  border-radius: 1rem; /* Cuadrado con esquinas redondeadas */
  border: none;
  width: 90px;
  height: 90px;
  margin-top: 10px;
  padding: 0;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: aparecer 0.4s ease forwards;
}

.fab-option img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  object-fit: cover;
}

.fab-option:hover {
  transform: scale(1.1) rotate(3deg);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}