
body {
  margin: 0;
  padding: 0;
  background: #f3f4f6;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}

.login-container {
  margin-top: 75px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.login-card {
  background-color: #fff;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 900px; 
  box-sizing: border-box;
  overflow-y: auto;
  max-height: calc(100vh - 100px); 
}


.login-card h2 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 26px;
  font-weight: 600;
  color: #0f0fff;
}


.form-control {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  font-size: 15px;
  transition: all 0.2s ease-in-out;
}

.form-control:focus {
  border-color: #198754;
  box-shadow: 0 0 4px rgba(25, 135, 84, 0.3);
}


label {
  font-weight: 500;
  color: #333;
  font-size: larger;
}


button.btn-success {
  background-color: #198754;
  border: none;
  padding: 12px;
  font-size: 16px;
  border-radius: 10px;
  transition: background-color 0.2s ease-in-out;
}

button.btn-success:hover {
  background-color: #157347;
}


.error {
  color: #dc3545;
  font-size: 13px;
  margin-top: 5px;
}

@media (max-width: 768px) {
  .login-card {
    padding: 25px;
  }

  .row {
    flex-direction: column;
  }

  .col-md-6 {
    width: 100%;
  }
}
