/* Fondo general con imagen */
.login-container {
  height: 100vh;
  background-image: url('https://oqnisprjqxdarqewgqqu.supabase.co/storage/v1/object/public/imagenes//fondo.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1rem;
}

.login-card {
  background: white;
  padding: 2rem 2rem;
  border-radius: 1rem;
  width: 100%;
  max-width: 800px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  color: #333;
  font-size: 1.1rem;
  line-height: 1.6;
}

.login-card h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  text-align: center;
}


.login-card label {
  font-weight: 600;
  margin-bottom: 0.3rem;
  display: block;
}


.login-card .form-control {
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
}


.error {
  color: #d9534f;
  font-size: 0.95rem;
  margin-top: 0.3rem;
}

.error-general {
  color: #d9534f;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1rem;
}


.login-card .row > div {
  margin-bottom: 1.25rem;
}


.login-card button {
  padding: 0.75rem;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 0.75rem;
}


.login-card .form-check {
  margin-right: 1rem;
}


.login-card input[name="nuevaEspecialidad"] {
  margin-top: 0.5rem;
}
